@import ('variable')
html
  font-family "微软雅黑"
body
  overflow hidden
// layout
.clear-fix
  clear-fix()
.left
  float left
.right
  float right
//scrollbar样式改造
.menu-wrap 
  .el-scrollbar__wrap
    overflow-x hidden
  .el-scrollbar__bar.is-vertical>div
    display none
.main-wrapper
  .el-scrollbar__wrap
    overflow-x hidden
// 组织机构树
.org-dialog
  .el-dialog__body
    padding 10px 10px 20px 10px
  .dialog-footer
    text-align center
    padding-top 20px
    margin-left -10px
    margin-right -10px
    border-top 1px solid #e6e6e6
.org-tree-wrap
  .el-scrollbar__wrap
    overflow-x hidden
  .el-tree__empty-block
    display none
//tabs样式改造
.el-tabs__header
  margin-bottom 22px
.el-tabs__nav-wrap
  &:after
    display none
.el-tabs__active-bar
  display none
.el-tabs__item
  height 20px
  padding 0
  margin-right 30px
  line-height 20px
  color #4A4A4A
  border-bottom 1px solid #4A4A4A
  transition color .3s
  &.is-active
    color $color-theme
    border-bottom-color $color-theme
  &:hover
    color $color-theme
    border-bottom-color $color-theme
//分页器样式改造
.el-select .el-input.is-focus .el-input__inner
  border-color #DCDCDC
  &:hover
    border-color #DCDCDC
.el-pagination__sizes .el-input .el-input__inner
  border-color #DCDCDC
  &:hover
    border-color #DCDCDC
.el-pagination .el-select .el-input
  width 60px
  height 29px
.pagination-wrap
  clear-fix()
  overflow hidden
  padding 10px 30px
.el-pagination
  float left
  padding 0
  width 100%
.el-pagination span:not([class*=suffix]), .el-pagination button
  color $color-font-defaul
  font-size 14px
.pagination-tips
  float left
  line-height 28px
.el-pagination__sizes
  margin-left 20px
  &:before
    content '每页显示'
    display inline-block
    margin-right 5px
  &:after
    content '条记录'
    display inline-block
    margin-left 5px
.btn-next,.el-pager,.btn-prev
  float right
//表格样式改造
.el-table th
  background $color-table-event
  height 30px
  padding 0
  color $color-font-dark
  font-size 12px
.el-table th > .cell
  font-weight bold
.el-table th.is-leaf, .el-table td
  border-bottom none
.el-table td
  height 30px
  font-size 12px
  padding-top 0
  padding-bottom 0
  color $color-font-dark
  // user-select none
.el-table--striped .el-table__body tr.el-table__row--striped td
  background $color-table-event
.el-table__body .el-table__body tr.current-row > td
  background $color-table-active
.el-table--striped .el-table__body tr.el-table__row--striped.current-row td
  background #D5DBE4
.el-table__body tr.current-row > td
  background #D5DBE4
// 表格不换行
.el-table .cell,.el-table .cell .el-button.el-button--text
  width 100%
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
// 表格文字padding
.el-table .el-button.el-button--text
  padding-top 7px
  padding-bottom 7px
// 表格字体方向
.is-left .el-button.el-button--text
  text-align left
.is-center .el-input__inner
  text-align center
// hover
.el-table tr:hover td
  background #D5DBE4!important
// 执行版本行样式
.el-table tr.perform-row td
  background #FBE8E6!important
//模态框样式改造
.el-dialog__footer
  text-align center
.el-dialog__title
  height 14px
  display block
  font-weight bold
  padding-left 5px
  border-left 2px solid $color-theme
  line-height 1
.el-dialog__header
  padding-top 15px 
  height 44px
  border-bottom 1px solid $color-border
.el-dialog__headerbtn
  top 15px
.el-button--large
  padding-top 0
  padding-bottom 0
  height 28px
.dialog-footer-stage
  magin-top 100px  
//弹框样式改造
.el-message-box__title
  border-left 2px solid $color-theme
  padding-left 5px
  font-size 14px
  span
    color $color-font-defaul
    font-weight bolder
.el-message-box__header
  height 44px
  border-bottom 1px solid $color-border
.el-message-box .el-button
  padding-top 0
  padding-bottom 0
  height 28px
.el-message-box
  padding-bottom 20px
//表单弹框
.form-dialog
  .el-dialog__body
    padding-left 30px
    padding-right 30px
    padding-top 15px
    padding-bottom 0
  .el-dialog__footer
    padding-top 0
    margin-top 20px
  .el-input-group,.el-form-item__content
    width 227px
  .full
    width 100%
  .full .el-form-item__content
    width auto
// 下拉框
.el-select
  width 100%
// 带搜索的输入框
.el-input-group--append .el-input__inner
    border-right none
  .el-input-group__append
    height 24px
    line-height 1
    background transparent
    transition border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1)
    .el-button
      padding 0
      width 44px
      text-align center
  .is-success .el-input-group__append
    border-color #67c23a
  .is-error .el-input-group__append
    border-color #E63F3C
  .el-form-item__label
    font-size $font-size-small
    color $color-font-default
    font-weight bold
    padding-right 0
/**
 * 树样式改造
*/
// 字体
.el-tree-node__label
  font-size 12px
// 展开收回文件图标
.el-tree-node__expand-icon:not(.is-leaf):after
  content ''
  display inline-block
  width 15px
  height 12px
  background-image url('../image/tree/collapse-file.png')
  background-size contain
  background-repeat no-repeat
  background-position center center
  vertical-align middle
.el-tree-node__expand-icon.expanded:not(.is-leaf):after
  background-image url('../image/tree/expand-file.png')
.el-tree-node__expand-icon.expanded
  transform none
// 展开收回加减图标
.el-tree-node__expand-icon:not(.is-leaf):before
  content ''
  display inline-block
  width 15px
  height 12px
  margin-right 5px
  background-image url('../image/tree/expand.png')
  background-repeat no-repeat
  background-position center center
  vertical-align middle
.el-tree-node__expand-icon.expanded:not(.is-leaf):before
  background-image url('../image/tree/collapse.png')
  content ''
// 叶子节点图标
.el-tree-node__expand-icon.is-leaf:before
  content ''
  display inline-block
  width 15px
  height 12px
  margin-left 20px
  background-image url('../image/tree/leaf.png')
  background-size contain
  background-repeat no-repeat
  background-position center center
// 纵向线
.el-tree-node__label,.el-tree-node__content
  position static
.el-tree-node__expand-icon.expanded:not(.is-leaf) + .el-tree-node__label
  height 12px
.el-tree-node__expand-icon.expanded:not(.is-leaf) + .el-tree-node__label:before
  content ''
  position: absolute
  height calc(100% - 30px)
  width 0
  display inline-block
  float left
  border-left 1px dashed #D2D2D2
  margin-left -33px
  margin-top 20px
  z-index 2
// 选中状态样式
.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content
  background-color transparent
  .el-tree-node__expand-icon.is-leaf:before
    background-image url('../image/tree/leaf_check.png')
  .el-tree-node__label
    color $color-theme
// 搜索区域
.form-item-short
  width 120px
.form-item-middle
  width 200px
.form-item-long
  width 300px
.search-head
  clear-fix()
  .el-form-item--mini.el-form-item
    margin-bottom 0
.search-area
  padding 20px 30px
  .el-form-item__label
    font-size 12px
  .advance-area
    margin-left -30px
    margin-right -30px
    margin-top 20px
    border-top 1px solid #E6E6E6
    padding-left 30px
    padding-right 30px
    padding-top 20px
    clear-fix()
    .el-form-item
      margin-right 0
    .el-form-item__content
      width 405px
      >*
        width 100%
    .advance-footer
      clear both
      text-align center
      .el-button
        min-width 110px
        height 26px
        line-height 26px
      .el-button + .el-button
        margin-left 20px
  .el-form-item__label,.el-input--mini,.el-form-item__content,.el-input,.el-button
    height 24px
    line-height 24px
  .el-form-item__label
    font-size 12px
    font-weight bolder
    margin-right 10px
  .input-with-select
    .el-input__inner
      border-right none
.advance
  font-size $font-size-small
  color $color-font-link
  line-height 24px
  margin-left 0px
  cursor pointer
  // user-select none
  &:hover
    text-decoration underline
  i
    height 6px
    width 6px
    display inline-block
    background-size 6px 6px
    background-repeat no-repeat
    background-image url(../image/form/arrowb.png)
    &.up
      background-image url(../image/form/arrowt.png)
// 工作项状态
.status-icon
  display inline-block
  height 14px
  width 14px
  border-radius 50%
  cursor pointer
  font-style normal
  &.have-not-started
    background #CCCCCC
  &.in-progress
    background #009688
  &.expected-delay
    background #FFC107
  &.delay
    background #F44336
  &.finish-on-time
    color #009688
    font-family  element-icons!important
    line-height 1
    -webkit-font-smoothing antialiased
    background url('../img/inTimeOver.png') no-repeat
    background-size 100%
  &.delayed-completion
    color #F44336
    font-family  element-icons!important
    line-height 1
    -webkit-font-smoothing antialiased
    background url('../img/outTimeOver.png') no-repeat
    background-size 100%
// button样式改造
.el-button.el-button--text
  font-size 12px
  color $color-font-link
// 表格树样式改造
.zk-table
  .zk-table__cell-inner
    padding-top 0
    padding-bottom 0
  .zk-table__body-row
    height 30px
    &:hover
      background $color-table-active
  .zk-table__footer-row, .zk-table__header-row
    height 30px
  .zk-table__header-row .zk-table__cell-inner
    font-weight bold
  .zk-table__header-row,.zk-table__body-row:not(:first-of-type)
    border none
  .zk-table__header-row,.zk-table--stripe-row
    background $color-table-event
  .zk-table--row-hover,.table-row-active
    background $color-table-active
  .zk-icon-plus-square-o:before,.zk-icon-minus-square-o:before
    content ''
    display inline-block
    height 9px
    width 9px
    background-repeat no-repeat
    background-position center center
  .zk-icon-plus-square-o:before
    background-image url('../image/tree/tree-table-expand.png') 
  .zk-icon-minus-square-o:before
    background-image url('../image/tree/tree-table-collapse.png')