/**
* @file 定义样式规范变量
* @author 宋宇骐（812888913@qq.com）
*/

/**
* 颜色规范定义
*/
$color-background = #F0F0F0//背景颜色
$color-theme = #E63F3C//主题颜色
//字体
$color-font-dark = #000000//深色
$color-font-light = #9B9B9B//浅色
$color-font-default = #4A4A4A//默认
$color-font-link = #1D85FE//链接
//表格
$color-table-event = #F1F4F8//偶数行
$color-table-active = #D5DBE4//选中行
//表单
$color-form-border = #D2D2D2//边框颜色
$color-form-error = #E63F3C//错误信息
//边框
$color-border = #E6E6E6
/**
* 字体定义规范
*/
$font-size-small = 12px
$font-size-medium = 14px
$font-size-large = 16px
$font-size-large-x =24px

/**
* 常用样式
*/
clear-fix()
  zoom 1
  &:after
    content ""
    height 0
    display block
    clear both
      